// Variables
$website-width: 1280px;
$content-width: 700px;
$main-color: #a31621;
$light-color: #e9ecf5;
$dark-color: #020202;
$footer-color: #5e6e78;
$snippet-color: #6b6d76;
$logo-image: url("../img/logo.jpg");
$social-icon-h-desktop: 30px;
$social-icon-h-mobile: 100px;
