.container {
  // max-width: $website-width;
  width: 100%;
  padding: 0 2.5rem;
  // position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  margin: 0 auto;
  // border-bottom: $light-color solid 1px;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  // text-align: center;
}

.current {
  color: $main-color;
}
